@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400px;
    background-color: white;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
    transition: opacity 0.3;
}
h2{
    margin: 0;
}
a:hover{
    opacity: 0.7;
    
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
}
.header__reg {
    padding: 10px 20px;
    background: #2550B9;
    border-radius: 8px;
    color: white;
}
.container {
    max-width: 1536px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.header__nav {
    display: flex;
    gap: 24px;
}
.header__link {
    color: black;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
}
.header__inter {
    padding: 10px 20px;
    background: #2550B9;
    border-radius: 8px;
    color: white;
}
.welcome {
    display: block;
    text-align: center;
    justify-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.welcome__image {
    padding: 40px;
    display: flex;
    align-items: flex-end;  
      
}
.welcome_title {
    font-weight: 700;
    font-size: 48px;
    opacity: 0.9;
    text-align: center;
    padding-bottom: 24px;

}
.welcome__text {
    width: 902px;
    height: 63px;
    font-weight: 400;
    text-align: center;
    opacity: 0.6;
    padding-bottom: 24px;
}
.welcome__link {
    padding: 10px 20px;
    background: #2550B9;
    border-radius: 8px;
    color: white;
}
.advantage{
    padding-bottom: 80px;
    padding-top: 80px;
}
.advantage__title {
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 64px;
}
.advantage__item__text {
    width: 270px;
    height: 64px;
    font-weight: 700;
    font-size: 24px;
    color: #2550B9;
}
.function{
    padding-bottom: 80px;
    padding-top: 80px;
}

.function__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.function__text__text{
    width: 617px;
    height: 96px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}
.function__item__text{
    width: 380px;
    height: 96px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #2550B9;
}
.function__title{
    padding-bottom: 16px;
}
.review {
    padding-bottom: 80px;
    padding-top: 80px;
}
.review__header {
    display: flex;
    flex-direction: column;
    align-items: start;


}
.review__title {
    font-weight: 700;
    font-size: 48px;
}
.review__text {
    width: 617px;
    height: 64px;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}
.review_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    width: 620px;
    height: 284px;

    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
    border-radius: 24px;
}
.personal__info {
    display: flex;
    gap: 50px;
}

.about {
    padding-bottom: 80px;
    padding-top: 80px;
}
.about__title {
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 64px;
}
.about__text__item__title {
    width: 127px;
    height: 28px;
    font-weight: 700;
    font-size: 20px;
}
.about__text__item__text {
    width: 627px;
    height: 120px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #00103D;
    opacity: 0.9;
}
.nav__block {
    flex-direction: column;
    padding-bottom: 80px;
}
.nav__block__title {
    padding-bottom: 24px;
}
.footer__bottom__images {
    width: 290px;
    height: 35px;
}
.login__window {
    flex-direction: column;
    padding-top: 175px;
    gap: 24px;
    width: 398px;
    height: 423px;
}
.login__text__title {
    font-weight: 500px;
    font-size: 16px;    
}
.mail {
    align-items: center;
    gap: 8px;
    width: 398px;
    height: 44px;
    border-radius: 8px;
    background: white;
    border: 0px;
    background: #F6F6F6;
}
.reg {
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 398px;
    height: 40x;
    background: #2550B9;
    border-radius: 8px;
    color: white;
    border: 0px;    
}
.login_text{
    font-weight: 500px;
    font-size: 16px;
}

.mobile__header{
    display: none;

}
.mobile__welcome{
    display: none;
}
.mobile__welcome__block{
    display: none;
}
@media (max-width: 500px) {
    .container{
    max-width: 500px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    }
    
    .header{
        display: none;
    }
    .mobile__logo{
        padding: 0px 8px;
    }
    .mobile__header{
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
    }

    .welcome__image{
        display: none;
    }
    .mobile__welcome{
        display: flex;
        justify-content: center;
    }
    .mobile__welcome__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;

    }
    .welcome__block{
        display: none;
    }

    .welcome_title{
        font-size: 24px;
        max-width: 304px;
        max-height: 62px;
        margin: 0;
    }
    .welcome__text{
        font-size: 16px;
        max-width: 304px;
        height: auto;
        margin: 0;
        padding: 0;
    }
    
    .welcome__link{
        width: 200px;
    }
    
    .advantage__items{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
    }
    .advantage__title{
        width: 304px;
        height: 40px;
        font-weight: 700;
        font-size: 29.6585px;
        line-height: 40px;
        text-align: center

    }
    .function__items{
        display: flex;
        flex-direction: column;
        gap: 16px;

    }
    .function__title{
        width: 304px;
        height: 48px;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }
    .function__text__text{
        width: 304px;
        height: auto;
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        padding: 0;

    }
    .function__item__text{
        
        height: 32px;
        font-weight: 700;
        font-size: 24px;
        margin: 12px;
    }
    .menu{
        padding: 0px 20px;
    }
    .review__items{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .review_item{
        display: flex;
        align-items: flex-start;

        width: 304px;
        height: 350px;
    }
    .review__title{
        width: 185px;
        height: 48px;
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }
    .review__text{
        width: 304px;
        height: 72px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
    .review__header{
        gap: 16px;
    }
    .about_text{
        display: flex;
        flex-direction: column;
    }
    .about__text__item__text{
        width: 304px;
        height: 216px;
        font-weight: 500;
        font-size: 16px;
        opacity: 0.9;
    }
    .mobile__header__nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: black;
        font-weight: 600;
        font-size: 16px;
        align-items: center;
        gap: 24px;
        padding-top: 16px;
        padding-bottom: 100px;
    }
    .header__link{
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 16px;
    }
    .footer__bottom{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .about__title{
        display: flex;
        justify-content: center;
    }
    .mobile__header__inter{
        padding: 0px 0px;
        background: #2550B9;
        border-radius: 8px;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .function__item__text{
        margin: 0;
    }
}

